{% extends '../global/cdns.html' %}
{% load static %}

{% block title %}Clientes{% endblock %}

{% block content %}
    
    <!-- Menu lateral -->
    {% include 'global/submenu.html' %} 
    <section class="box d-flex flex-column contenedor h-100">
        <h2 class='tittle' id="titulo">Clientes</h2>
        <div class="mx-auto overflow-hidden">
            <div class="d-flex justify-content-end">
                <a href="{% url 'detailsClient' %}" class="button d-flex align-items-center gap-2 mt-5 text-decoration-none">
                    <i class="fa-solid fa-circle-plus" style="color: #f8f8f8;"></i>
                    <p class="m-0">Nuevo cliente</p>
                </a>
            </div>            
            <form action="">
                {% csrf_token %}
                <div class="row mb-5 mt-3 justify-content-between gy-4 align-items-center">
                    <div class=" d-flex  align-items-center col-md-6 col-12">
                        <label for="category" class="form-label m-0 h5" style="white-space: nowrap;">Buscar por:</label>
                        <select name="optionSelect" id="optionSelect" class="form-select">
                            <option value="first_name">Nombre</option>
                            <option value="last_name">Apellidos</option>
                            <option value="dni">Dni</option>
                            <option value="telefono1">Teléfono 1</option>
                            <option value="telefono2">Teléfono 2</option>
                            <option value="empresa">Empresa</option>
                        </select>
                    </div>
                    <div class="col-md-5 col-12">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="searchInput">
                    </div>
                </div>
            </form>
            <div class="overflow-y-auto barScroll h-75 pb-5">
                <table class="table table-dark table-striped tabla">
                    <thead class="fs-5 text-uppercase sticky-top">
                        <tr class="">
                            <th class="p-3">Nombre</th>
                            <th class="p-3">Apellidos</th>
                            <th class="p-3">Dni</th>
                            <th class="p-3">Teléf.1</th>
                            <th class="p-3">Empresa</th>
                        </tr>
                    </thead>
                    <tbody id="tablaEmpleados">
                        {% for client in clients %}
                            <tr onclick="window.location.href = '/empleados/detailsClient-{{ client.id }}';"> 
                                <td data-label="Nombre">{{client.user.first_name}}</td>
                                <td data-label="Apellido">{{client.user.last_name}}</td>
                                <td data-label="Dni">{{client.dni}}</td>
                                <td data-label="Teléfono">{{client.telefono1}}</td>
                                <td data-label="Empresa">{{ client.empresa.nombre or "null" }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script src="{% static 'js/filterClient.js' %}"></script>
{% endblock content %}
