{% extends '../global/cdns.html' %}
{% load static %}

{% block title %}Clientes{% endblock %}

{% block content %}
    
    <!-- Menu lateral -->
    {% include 'global/submenu.html' %} 
    <section class="box d-flex flex-column contenedor">
        <h2 class='tittle' id="titulo">Clientes</h2>
        <div class="mx-auto overflow-hidden">
            <div class="d-flex justify-content-end">
                <a href="{% url 'detailsClient' %}" class="button d-flex align-items-center gap-2 mt-5 text-decoration-none">
                    <i class="fa-solid fa-circle-plus" style="color: #f8f8f8;"></i>
                    <p class="m-0">Nuevo cliente</p>
                </a>
            </div>            
            
            <div class="box px-3 overflow-y-auto barScroll h-75">
                <table class="table table-dark table-striped tabla">
                    <thead class="fs-5 text-uppercase sticky-top">
                        <tr class="">
                            <th class="p-3">Nombre</th>
                            <th class="p-3">Apellidos</th>
                            <th class="p-3">Dni</th>
                            <th class="p-3">Teléf.1</th>
                            <th class="p-3">Teléf.2</th>
                            <th class="p-3">Empresa</th>
                        </tr>
                    </thead>
                    <tbody id="tablaEmpleados">
                        {% for client in clients %}
                            <tr onclick="window.location.href = '/detailsClient-{{ client.id }}';"> 
                                <td>{{client.user.first_name}}</td>
                                <td>{{client.user.last_name}}</td>
                                <td>{{client.dni}}</td>
                                <td>{{client.telefono1}}</td>
                                <td>{{client.telefono2}}</td>
                                <td>{{client.empresa.nombre}}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock content %}
