{% extends '../global/cdns.html' %}
{% load static %}

{% block title %}Empresa{% endblock %}

{% block content %}
<!-- Menu lateral -->
{% include 'global/submenu.html' %} 
<section class="main box d-flex contenedor">
    <div id="alertas"></div>
    <div class="mx-auto w-75 my-5">
        <h2 class='tittleDetalle' id="titulo">{{enterprise.nombre}}</h2>
        <div class="d-flex justify-content-end mt-3">
            <button class="buttonReverse me-2 buttonVolver">
                <i class="fa-solid fa-circle-arrow-left" style="color: #e65522;"></i>
                <a href="">Volver</a>
            </button>  
            <button class="button" id="buttonEdit">
                <i class="fa-regular fa-pen-to-square" style="color: #f8f8f8;"></i>
                Editar
            </button> 
        </div>
        
        <div class="box formularioCrud p-5 d-flex flex-column" id="formularioCrud">
            
            <div class="row gy-4">
                <div class="col-4">
                    <h6 class="fw-bold">Nombre</h6>
                    <input type="text" id="nombre" class="border-bottom bg-transparent w-100" disabled value="{{enterprise.nombre}}">
                </div>
                <div class="col-4">
                    <h6 class="fw-bold">CIF</h6>
                    <input type="text" id="cif_nif" class="border-bottom bg-transparent w-100" disabled value="{{enterprise.cif_nif}}">
                </div>
                <div class="col-4">
                    <h6 class="fw-bold">Dirección</h6>
                    <input type="text" id="direccion" class="border-bottom bg-transparent w-100" disabled value="{{enterprise.direccion}}">
                </div>
                <div class="col-4">
                    <h6 class="fw-bold">Correo</h6>
                    <input type="text" id="email" class="border-bottom bg-transparent w-100" disabled value="{{enterprise.email}}">
                </div>
                <div class="col-4">
                    <h6 class="fw-bold">Teléfono 1</h6>
                    <input type="text" id="telefono1" class="border-bottom bg-transparent w-100" disabled value="{{enterprise.telefono1}}">
                </div>
                <div class="col-4">
                    <h6 class="fw-bold">Teléfono 2</h6>
                    <input type="text" id="telefono2" class="border-bottom bg-transparent w-100" disabled value="{{enterprise.telefono2}}">
                </div>
                <input type="hidden" id="id" class="border-bottom bg-transparent w-100" disabled value="{{enterprise.id}}">
            </div>
        </div>
        <!-- SOLO SE MUESTRA EL ELIMINAR CUANDO HAY UN EMPLEADO, CUANDO EDITAMOS  -->
        {% if enterprise %}
            <div class="d-flex justify-content-end">
                <button class="btn btn-danger d-flex align-items-center gap-2 " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Eliminar
                    <i class="fa-regular fa-trash-can" style="color: #ffffff;"></i>
                </button>
            </div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #1E2225;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar empresa</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Seguro que desea eliminar la empresa '{{enterprise.nombre}}'?
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'deleteEnterprise' enterprise.id %}" class="btn btn-danger d-flex align-items-center gap-2">
                            Aceptar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %} 
        
        
    </div>
    
</section>
<script src="{% static 'js/employee.js' %}"></script>
{% endblock content %}