{% extends '../global/cdns.html' %}
{% load static %}

{% block title %}Empleados{% endblock %}

{% block content %}
    
    <!-- Menu lateral -->
    {% include 'global/submenu.html' %} 
    <section class="box d-flex flex-column contenedor">
        <h2 class='tittle'>Empleados</h2>
        <div class="mx-auto overflow-hidden">
            <div class="d-flex justify-content-end">
                <a href="{% url 'detailsEmployee' %}" class="button d-flex align-items-center gap-2 mt-5 text-decoration-none">
                    <i class="fa-solid fa-circle-plus" style="color: #f8f8f8;"></i>
                    <p class="m-0">Nuevo empleado</p>
                </a>
            </div>            
            
            <div class="box px-3 overflow-scroll barScroll h-75">
                <table class="table table-dark table-striped tabla">
                    <thead class="fs-5 text-uppercase ">
                        <tr class="">
                            <th class="p-3">Nombre</th>
                            <th class="p-3">Apellidos</th>
                            <th class="p-3">Dni</th>
                            <th class="p-3">Teléfono</th>
                            <th class="p-3">Departamento</th>
                        </tr>
                    </thead>
                    <tbody id="tablaEmpleados">
                        {% for employee in employees %}
                            <tr onclick="window.location.href = '/detailsEmployee-{{ employee.id }}';">
                                <td>{{employee.user.first_name}}</td>
                                <td>{{employee.user.last_name}}</td>
                                <td>{{employee.dni}}</td>
                                <td>{{employee.telefono}}</td>
                                <td>{{employee.departamento}}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock content %}
