{% extends '../global/cdns.html' %}
{% load static %}

{% block title %}Incidencias{% endblock %}

{% block content %}
    
    <!-- Menu lateral -->
    {% include 'global/submenu.html' %} 
    <section class="box d-flex flex-column contenedor ">
        <h2 class='tittle' id="titulo">Incidencias</h2>
        <div class="mx-auto overflow-hidden">
            <div class="d-flex justify-content-end">
                <a href="{% url 'detailsIncident' %}" class="button d-flex align-items-center gap-2 mt-5 text-decoration-none">
                    <i class="fa-solid fa-circle-plus" style="color: #f8f8f8;"></i>
                    <p class="m-0">Nueva incidencia</p>
                </a>
            </div>      
                  
            <form action="" class="mb-5 mt-3 mx-1" id="formFiltros">
                {% csrf_token %}
                <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-3">
                    <div class="col">
                        <select name="category" id="category" class="form-select">
                            <option value="" disabled selected>Categoría</option>
                            {% for key, value in departaments %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select name="client" id="client" class="form-select">
                            <option value="" disabled selected>Cliente</option>
                            {% for client in clients %}
                                <option value="{{ client.id }}">{{ client.user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select name="employee" id="employee" class="form-select">
                            <option value="" disabled selected>Empleado</option>
                            {% for empleado in empleados %}
                                <option value="{{ empleado.id }}">{{ empleado.user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select name="priority" id="priority" class="form-select">
                            <option value="" disabled selected>Prioridad</option>
                            {% for key, value in priorities %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select name="state" id="state" class="form-select">
                            <option value="" disabled selected>Estado</option>
                            {% for key, value in states %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select name="date" id="date" class="form-select">
                            <option value="asc" selected>Más recientes</option>
                            <option value="desc">Más antiguas</option>
                        </select>
                    </div>
                    <div class="col">
                        <button id="clearFilters" class="btn btn-danger">Borrar filtros</button>
                    </div>
                </div>
            </form>
            
            <div class="box px-3 overflow-y-auto barScroll h-75 pb-5">
                <table class="table table-dark table-striped tabla">
                    <thead class="fs-5 text-uppercase sticky-top">
                        <tr class="">
                            <th class="p-3">Categoría</th>
                            <th class="p-3">Estado</th>
                            <th class="p-3">Cliente</th>
                            <th class="p-3">Asignado a</th>
                            <th class="p-3">Prioridad</th>
                            <th class="p-3">Fecha inicio</th>
                        </tr>
                    </thead>
                    <tbody id="tablaEmpleados">
                        {% for incident in incidents %}
                            <tr onclick="window.location.href = '/detailsIncident-{{ incident.id }}';">
                                <td  data-label="Categoría">{{incident.get_categoria_display}}</td>
                                <td  data-label="Estado">{{incident.get_estado_display}}</td>
                                <td  data-label="Usuario">{{incident.cliente.user.username}}</td>
                                <td  data-label="Empleado">{{incident.empleado.user.username}}</td>
                                <td  data-label="Prioridad">{{incident.get_prioridad_display}}</td>
                                <td  data-label="Fecha Inicio">{{ incident.fecha_inicio|date:"d/m/Y" }}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script src="{% static 'js/filterIncidents.js' %}"></script>
{% endblock content %}
