{% extends '../global/cdns.html' %}
{% load static %}

{% block title %}Incidencias{% endblock %}

{% block content %}
    
    <!-- Menu lateral -->
    {% include 'global/submenu.html' %} 
    <section class="box contenedor flex-row gap-2">
        <section class="w-25 box">
            <figure class="border-bottom pb-2 d-flex justify-content-between align-items-end">
                <div class="w-100 d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-light btn-sm mt-3 " data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                        + Nuevo chat
                    </button>
                    <div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Nuevo chat</h5>
                          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="containerNew">
                                <label for="tipoPersona">Chat con:</label>
                                <select class="form-select" id="tipoPersona">
                                    <option value="empleado" selected>Empleado</option>
                                    <option value="cliente">Cliente</option>
                                </select>
                                <label for="persona" class="pt-3" id="labelPersona">Empleado:</label>
                                <select class="form-select" id="selectPersona">
                                    {% for employee in employees%}
                                        <option value="{{employee.user.id}}">{{employee.user.first_name}}</option>
                                    {% endfor %}
                                </select>
                                <div>
                                  <button class="btn button text-white mt-3 float-end" id="btnCrearChat">Crear</button>  
                                </div>
                                
                            </div>
                        </div>
                      </div>
                </div>
                
            </figure>
            <form class="d-flex mb-4" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" id="search" aria-label="Search">
            </form>
            <div class="chats pt-2">
                {% for chat in chats_user %}
                <div class="containerPersona d-flex row overflow-hidden align-items-end bg-dark p-1">
                    <figure class="col-3">
                        <img src="{% static 'assets/img/usuarioLogo.png' %}" alt="" class="rounded-circle bg-dark "/>
                    </figure>
                    <p class="col-9 ultMensaje">{{chat.remitente}}: {{ chat.texto }}</p>
                    <p class="col-12 text-end small">{{ chat.fecha_hora }}</p>
                    <input type="hidden" name="idChat" value="{{chat.chat_id}}" id="idChat">
                </div>
                {% endfor %}
            </div>
            
        </section>
        <section class="w-75 box d-flex flex-column h-100 " id="containerChat">
            <h2 class="border-bottom p-3" id="nombreUsuario"></h2>
            <div class="flex-grow-1 my-3 containerMensajes position-relative barScroll">
                <div class="d-flex w-100 flex-column gap-4 " id="containerMensajes">
                    <p class="m-auto pt-5 mt-5">SELECCIONE UN CHAT O CREE UNO NUEVO</p> 
                    <!-- <div class="bg-dark text-center position-sticky top-0">
                        <p>Hoy</p>
                    </div> -->
                </div>
            </div>
            
            <div class="containerCreateMensaje bg-dark mx-1 row align-items-center py-3 d-none">
                <i class="fa-solid fa-circle-plus col-1 p-0 h2 m-0" style="color: #e65522;"></i>
                <input type="text" placeholder="Escribe un mensaje" id="inputNewMesagge" class="col-10 py-1">
                <i class="fa-solid fa-paper-plane col-1 p-0 m-0 h4" id="btnEnviar" style="color: #e65522;"></i>
            </div>
        </section>

        <input type="hidden" id="idUserLog" value="{{userLog.id}}">
    </section>

    <script src="{% static 'js/mensajeria.js' %}"></script>
{% endblock content %}
