.menuLateral.box {
    padding: 0;
    margin: 0;

    .menuLateral__profile {
        @include flex-centered;
        flex-direction: column;
        width: 100%;

        >img.profile__photo {
            object-fit: contain;
            width: 100%;
            padding: 3px;
        }

        p {
            font-weight: 500;
        }
    }

    .menuLateral__logo img {
        object-fit: contain;
        width: 70%;
    }

    .menuLateral__enlaces ul {
        list-style: none;
        padding: 0;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 40px;
        align-items: center;

        li {
            text-align: center;
            width: 100%;

            a {
                font-size: larger;
                border-radius: 100%;
                text-decoration: none;
                color: $colorOrange;
                transition: background .2s linear;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
    
                &:hover div{
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
                img{
                    width: 100%;
                }
                div{
                    z-index: 10;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    background-image: $gradient;
                    width: 23vh;
                    border-radius: 0px 10px 10px 0px;
                    left: 0vh;
                    padding: 3px 10px;
                    transition: 0.2s linear;
                    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
                    filter: drop-shadow(0 0 2px rgba(46,46,46,01));
                    p{
                      padding-left: 10px;  
                    }
                }
                p{
                    display: flex;
                    padding: 0% 2px;
                    color: $colorWhite;
                    margin: 0;
                    
                }
    
                img{
                    max-width: 40px;
                }
            }
        }

       
        .selected {
            transition: color .2s linear;
            background-color: $colorBlack;
            border-radius: 100%;
        }

        .selected:hover {
            color: $colorWhite;
        }
    }
}
