//COLORS
$colorOrange:#e65522;
$colorRed:#ee3040;
$colorBlack: #1E2225;
$colorWhite:#F8F8F8;
$colorGray: rgba(85, 89, 91, .4);

$gradient: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
$whiteGradient: linear-gradient(51deg, #a3a3a3 50%, #b8b8b8 65%, #ebebeb 100%);

$btnGreen: #30a846;
$btnRed: #c93333;

//FONT
$fontRaleway: "Raleway";

//SOMBRAS
$dropShadow: -15px -15px 20px rgba(255,255,255,.8), 15px 15px 20px rgba(57,65,124,.08);
$innerShadow: -2px -2px 5px rgba(255,255,255,.9), 2px 2px 4px rgba(57,65,124,.2);
$btnShadow: -5px -5px 15px rgba(255,255,255,.9), 5px 5px 15px rgba(60,14,189,.3);

//MIXINS
@mixin flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}