@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}

.barScroll::-webkit-scrollbar {
  width: 8px;
}

.barScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.barScroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.barScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.containerPrincipal {
  height: 100vh;
  background-color: #1E2225;
  color: white;
  display: flex;
  gap: 1%;
  padding: 1%;
}
.containerPrincipal .menuLateral {
  max-width: 70px;
}
.containerPrincipal .contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box {
  background-color: rgba(85, 89, 91, 0.4);
  border-radius: 10px;
  padding: 1vh;
}

.tittle {
  font-size: 50px;
  color: #F8F8F8;
  text-align: center;
  position: relative;
  padding-top: 3vh;
  animation: aparecerCentro 2.5s ease forwards;
}
.tittle::after {
  content: "";
  position: absolute;
  bottom: -1vh;
  left: 0;
  width: 50%;
  height: 2px;
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  transform: translateX(50%);
}

@keyframes aparecerDesdeIzquierda {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes aparecerDesdeDerecha {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes aparecerCentro {
  from {
    clip-path: circle(0.4% at 50% 50%);
  }
  to {
    clip-path: circle(150% at 50% 50%);
  }
}
.productos__producto {
  position: relative;
  overflow: hidden;
  transition: all 2s linear;
  box-shadow: -8px -8px 20px rgba(255, 255, 255, 0.04), 8px 8px 20px rgba(0, 0, 0, 0.35);
}
.productos__producto:hover {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.03), 2px 2px 4px rgba(0, 0, 0, 0.35);
}
.productos__producto::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  transition: all 0.2s linear;
  clip-path: circle(10% at 97% 2%);
  z-index: 0;
}
.productos__producto:hover::after {
  clip-path: circle(138.1% at 97% 2%);
}
.productos__producto:hover img {
  filter: drop-shadow(0 0 5px rgb(46, 46, 46));
}
.productos__producto:hover .producto__precio p {
  color: #F8F8F8 !important;
}
.productos__producto:hover .producto__precio div {
  background-image: none !important;
  background-color: rgba(85, 89, 91, 0.4) !important;
  color: #e65522 !important;
  transition: all 0.1s linear;
}
.productos__producto:hover .producto__precio div:hover {
  background-color: #1E2225 !important;
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px rgb(46, 46, 46));
}
.productos__producto img, .productos__producto h4, .productos__producto .producto__descripcion, .productos__producto .producto__precio {
  position: relative;
  z-index: 2;
}

.mainInicio {
  background-color: #1E2225;
  color: white;
  font-weight: bold;
}

.mainInicio__barraLateral {
  text-align: center;
  background-color: rgba(85, 89, 91, 0.4);
  width: 12vh;
  height: 100%;
  border-radius: 10px;
}

.contenedorCarrito {
  background-color: #5b5b5b;
  position: fixed;
  top: 0;
  right: 0;
  margin: 2%;
  height: 77vh;
  width: 75vh;
  z-index: 3;
  border-radius: 1vh;
  overflow-y: scroll;
  animation-name: modal;
  animation-duration: 0.3s;
  /* Animación de entrada */
}
@keyframes modal {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0%);
  }
}
.contenedorCarrito > button {
  float: right;
  width: 6vh;
  height: 6vh;
  border-radius: 1vh;
  margin: 2%;
  background-color: #e65522;
  border: none;
  color: #F8F8F8;
  font-weight: bold;
}
.contenedorCarrito__productos {
  margin: 15% 2%;
}
.contenedorCarrito__productos__producto {
  background-color: #F8F8F8;
}
.contenedorCarrito__productos__producto .card-text > button {
  border: none;
  color: #F8F8F8;
  font-weight: bold;
  font-size: 30px;
  padding: 1px;
  border-radius: 1vh;
  width: 25px;
  height: 25px;
  background-color: #e65522;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorCarrito__productos__producto .card-text > p:first-of-type {
  margin: 0px 15px;
  font-size: 40px;
}
.contenedorCarrito .tramitarPedido {
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  width: 100%;
  color: white;
  border: none;
  border-radius: 1vh;
  padding: 8px;
  font-size: 20px;
}

.contenedor .search {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ee3040;
  border-radius: 0;
  color: #F8F8F8;
  animation: aparecerCentro 2.5s ease forwards;
}
.contenedor .search::placeholder {
  color: rgba(255, 255, 255, 0.76);
}
.contenedor .css-188mx6n-MuiSlider-root {
  color: #e65522;
}
.contenedor .css-1as9v07-MuiSlider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(210, 124, 25, 0.16);
}
.contenedor .form-control:focus {
  box-shadow: none;
}
.contenedor .categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 13vh;
}
.contenedor .categorias .categoria {
  color: #F8F8F8;
  position: relative;
}
.contenedor .categorias .categoria__texto {
  background-color: rgba(85, 89, 91, 0.4);
  padding: 12px 30px;
  border-radius: 10px;
  margin-top: 10vh;
}
.contenedor .categorias .categoria__texto h3 {
  font-size: 21px;
  padding-top: 1vh;
}
.contenedor .categorias .categoria__icono {
  cursor: pointer;
  width: 9vh;
  height: 7vh;
  border-radius: 1vh;
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  text-align: center;
  font-size: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.contenedor .categorias .categoria__icono i {
  font-size: 4vh;
  line-height: 7vh;
}
.contenedor .containerTienda {
  overflow-y: auto;
}
.contenedor .containerTienda .filtros {
  animation: aparecerDesdeIzquierda 1s ease forwards;
  min-width: 150px;
  padding: 2vh;
  background-color: rgba(85, 89, 91, 0.4);
  max-height: 100%;
  margin-right: 1vh;
}
.contenedor .containerTienda .filtros .accordion-button {
  padding: 0;
}
.contenedor .containerTienda .filtros .accordion-button:focus {
  box-shadow: none;
}
.contenedor .containerTienda .filtros .accordion-button:not(.collapsed), .contenedor .containerTienda .filtros .accordion-button, .contenedor .containerTienda .filtros .accordion-item {
  background-color: transparent;
  border: none;
  color: #F8F8F8;
}
.contenedor .containerTienda .filtros .accordion-button::after {
  background-color: #F8F8F8;
}
.contenedor .containerTienda .filtros .accordion-body {
  font-size: 14px;
}
.contenedor .containerTienda .filtros input {
  appearance: none;
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.contenedor .containerTienda .filtros input:checked {
  background: #e65522;
}
.contenedor .containerTienda .productos {
  animation: 1s ease forwards;
  width: 85%;
  padding: 2vh;
  background-color: rgba(85, 89, 91, 0.4);
  display: flex;
  justify-content: center;
  gap: 3%;
  flex-wrap: wrap;
  max-height: 100%;
  overflow-y: auto;
}
.contenedor .containerTienda .productos__producto {
  width: 42vh;
  margin-top: 1vh;
  padding: 2vh;
  height: 350px;
}
.contenedor .containerTienda .productos__producto .abrirModalDetalle {
  cursor: pointer;
}
.contenedor .containerTienda .productos__producto .abrirModalDetalle img {
  margin: auto;
  width: 70%;
  animation: aparecerDesdeDerecha 1s ease forwards;
  animation-delay: 0.2s;
}
.contenedor .containerTienda .productos__producto .abrirModalDetalle h4 {
  font-size: 20px;
  text-align: center;
  animation: aparecerDesdeIzquierda 1s ease forwards;
  animation-delay: 0.2s;
}
.contenedor .containerTienda .productos__producto .producto__descripcion {
  font-size: 15px;
  font-weight: 500;
  animation: aparecerDesdeDerecha 1s ease forwards;
  animation-delay: 0.2s;
}
.contenedor .containerTienda .productos__producto .producto__precio {
  font-weight: bold;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.contenedor .containerTienda .productos__producto .producto__precio p {
  color: #e65522;
  border-radius: 1vh;
  font-size: 21px;
  margin: 0 !important;
  animation: aparecerDesdeIzquierda 1s ease forwards;
  animation-delay: 0.2s;
}
.contenedor .containerTienda .productos__producto .producto__precio div {
  width: 9vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  animation-delay: 0.2s;
}
.contenedor .containerTienda .productos__producto .modalDetalle img {
  width: 100%;
}
.contenedor .containerTienda .productos__producto .modalDetalle .modal-content {
  z-index: 100;
  background-color: #5b5b5b;
}
.contenedor .containerTienda .productos__producto .modalDetalle .modal-content .btn-close {
  color: #F8F8F8;
  background-color: #e65522;
}
.contenedor .containerTienda .productos__producto .modalDetalle .modal-content .modal-footer, .contenedor .containerTienda .productos__producto .modalDetalle .modal-content .modal-header {
  border: none;
}
.contenedor .carrito {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  text-align: center;
  font-size: 26px;
  cursor: pointer;
  z-index: 20;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
.contenedor .carrito__cant {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  right: -15px;
  color: #1E2225;
  background-color: #F8F8F8;
}

.containerTramite {
  background-color: rgba(85, 89, 91, 0.4);
  padding: 30px 20px;
}
.containerTramite .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed, .containerTramite .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active, .containerTramite .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: #e65522;
}
.containerTramite .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: #5b5b5b;
}
.containerTramite .css-1hv8oq8-MuiStepLabel-label.Mui-active, .containerTramite .css-1hv8oq8-MuiStepLabel-label.Mui-completed, .containerTramite .css-1vyamtt-MuiStepLabel-labelContainer {
  color: #F8F8F8;
}
.containerTramite .css-1vyamtt-MuiStepLabel-labelContainer span {
  font-size: 20px;
}
.containerTramite .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  color: #F8F8F8;
}
.containerTramite .css-a1sg1c-MuiButtonBase-root-MuiButton-root {
  background-color: #F8F8F8;
  border: 1px solid #e65522;
  color: #e65522;
}
.containerTramite .css-1d3z3hw-MuiOutlinedInput-notchedOutline, .containerTramite .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #F8F8F8;
  background-color: rgba(255, 255, 255, 0.432);
}
.containerTramite .css-yjsfm1 span, .containerTramite .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #F8F8F8;
}
.containerTramite .MuiFormControl-root label {
  color: #F8F8F8;
}
.containerTramite .tarjetaCredito {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../../public/assets/img/tarjetaCredito.PNG);
  border-radius: 1vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuLateral.box {
  padding: 0;
  margin: 0;
}
.menuLateral.box .menuLateral__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.menuLateral.box .menuLateral__profile > img.profile__photo {
  object-fit: contain;
  width: 100%;
  padding: 3px;
}
.menuLateral.box .menuLateral__profile p {
  font-weight: 500;
}
.menuLateral.box .menuLateral__logo img {
  object-fit: contain;
  width: 70%;
}
.menuLateral.box .menuLateral__enlaces ul {
  list-style: none;
  padding: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
  align-items: center;
}
.menuLateral.box .menuLateral__enlaces ul li {
  text-align: center;
  width: 100%;
}
.menuLateral.box .menuLateral__enlaces ul li a {
  font-size: larger;
  border-radius: 100%;
  text-decoration: none;
  color: #e65522;
  transition: background 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.menuLateral.box .menuLateral__enlaces ul li a:hover div {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.menuLateral.box .menuLateral__enlaces ul li a img {
  width: 100%;
}
.menuLateral.box .menuLateral__enlaces ul li a div {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: start;
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  width: 23vh;
  border-radius: 0px 10px 10px 0px;
  left: 0vh;
  padding: 3px 10px;
  transition: 0.2s linear;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  filter: drop-shadow(0 0 2px rgb(46, 46, 46));
}
.menuLateral.box .menuLateral__enlaces ul li a div p {
  padding-left: 10px;
}
.menuLateral.box .menuLateral__enlaces ul li a p {
  display: flex;
  padding: 0% 2px;
  color: #F8F8F8;
  margin: 0;
}
.menuLateral.box .menuLateral__enlaces ul li a img {
  max-width: 40px;
}
.menuLateral.box .menuLateral__enlaces ul .selected {
  transition: color 0.2s linear;
  background-color: #1E2225;
  border-radius: 100%;
}
.menuLateral.box .menuLateral__enlaces ul .selected:hover {
  color: #F8F8F8;
}

.containerInicio {
  background-color: #5b5b5b;
  height: 100vh;
}
.containerInicio .portadaForms {
  background-color: #F8F8F8;
  border-radius: 1vh;
  text-align: center;
  width: 50%;
}
.containerInicio .portadaForms .portadaRegistro,
.containerInicio .portadaForms .portadaLogin {
  padding: 50px 0px;
}
.containerInicio .portadaForms .portadaRegistro p,
.containerInicio .portadaForms .portadaLogin p {
  padding: 0px 10px;
}
.containerInicio .portadaForms .portadaRegistro div,
.containerInicio .portadaForms .portadaLogin div {
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  border-radius: 100px;
  margin: 20px 0px 40px 0px;
}
.containerInicio .portadaForms .portadaRegistro button,
.containerInicio .portadaForms .portadaLogin button {
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  color: #F8F8F8;
  padding: 5px 40px;
  border: none;
  border-radius: 3vh;
  text-transform: uppercase;
}
.containerInicio .formularios {
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  border-radius: 1vh;
  text-align: center;
  padding: 50px 15px;
  transition: left 0.3s linear;
}
.containerInicio .formularios .formRegistrarse form {
  padding: 10px 0px;
  gap: 12px !important;
}
.containerInicio .formularios .formRegistrarse form input {
  padding: 3px 10px;
}
.containerInicio .formularios h3 {
  color: #F8F8F8;
}
.containerInicio .formularios form input {
  background-color: rgba(255, 255, 255, 0.399);
  border: 1px solid #F8F8F8;
  border-radius: 1vh;
  padding: 3px 10px;
  margin: 0px 20px;
}
.containerInicio .formularios form input::placeholder {
  color: #F8F8F8;
}
.containerInicio .formularios button {
  background-color: #1E2225;
  color: #F8F8F8;
  padding: 5px 25px;
  border: none;
  border-radius: 3vh;
  text-transform: uppercase;
  margin-top: 6px;
}

/* pantallas pequeñas */
@media only screen and (max-width: 767px) {
  .containerInicio .portadaForms {
    width: 95%;
  }
  .containerInicio h3 {
    font-size: 19px;
  }
  .containerInicio p,
  .containerInicio input,
  .containerInicio button {
    font-size: 12px;
    margin: 0 !important;
  }
  .containerInicio p {
    margin-top: 15px !important;
  }
  .containerInicio button {
    margin-top: 10px !important;
  }
}
/* Pantallas medianas*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .containerInicio .portadaForms {
    width: 75%;
  }
  .containerInicio h3 {
    font-size: 22px;
  }
  .containerInicio p,
  .containerInicio input,
  .containerInicio button {
    font-size: 14px;
  }
}
/* Pantallas grandes*/
@media only screen and (min-width: 992px) {
  .containerInicio .portadaForms {
    width: 50%;
  }
  .containerInicio h3 {
    font-size: 24px;
  }
  .containerInicio p, .containerInicio input, .containerInicio button {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
