*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontRaleway;
}

.containerPrincipal{
    height: 100vh;
    background-color: $colorBlack;
    color: white;
    display: flex;
    gap: 1%;
    padding: 1%;

    .menuLateral{
        width: 18%;
        min-width: 70px;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
    }
    
}


.box{
    background-color: $colorGray;
    border-radius: 10px;
    padding: 1vh;
}

.tittle{
    font-size: 50px;
    color: $colorWhite;
    text-align: center;
    position: relative;
    padding-top: 3vh;

    &::after{
        content: ""; 
        position: absolute; 
        bottom: -1vh; 
        left: 0; 
        width: 50%; 
        height: 2px; 
        background-image: $gradient;
        transform: translateX(50%);
    }
}
