.mainInicio {
    background-color: $colorBlack;
    color: white;
    font-weight: bold;
    height: 96vh;
}

.mainInicio__barraLateral {
    text-align: center;
    background-color: $colorGray;
    width: 12vh;
    height: 100%;
    border-radius: 10px;
}