.mainInicio__modulos {
    text-align: center;
    display: grid;

    .modulos__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 1%;
        grid-row-gap: 2%;

        .grid_mod1 {
            grid-area: 1 / 1 / 4 / 5;
        }
        .grid_mod2 {
            grid-area: 1 / 5 / 5 / 7;
        }
        .grid_mod3 {
            grid-area: 4 / 1 / 7 / 3;
        }
        .grid_mod4 {
            grid-area: 4 / 3 / 7 / 5;
        }
        .grid_mod5 {
            grid-area: 5 / 5 / 7 / 7;
        }
        
    }
}