.menuLateral {
    padding: 1rem 0;
    width: 6vw;
    height: 100%;
    background-color: $colorGray;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    border-radius: 15px;

    .menuLateral__enlaces ul {
        list-style: none;
        padding: 0;
    
        li {
            text-align: center;
            padding: 30% 0;
            font-size: larger;
        }

        a:hover {
            background-color: $colorBlack
        }

        .selected {
            background-color: $colorBlack;
        }
    
        a {
            border-radius: 100%;
            padding: 1rem;
            text-decoration: none;
            color: $colorOrange;
        }
    }

    .menuLateral__profile img {
        object-fit: contain;
        width: 50%;
        margin-bottom: .5rem;
    }

    .menuLateral__logo img {
        object-fit: contain;
        width: 40%;
        margin-top: .5rem;
    }
}