* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  font-family: "Raleway";
  background-color: #1E2225;
}

.contenedor {
  width: 100%;
  height: 100vh;
  padding: 0.2rem;
  display: flex;
}

.box {
  background-color: rgba(85, 89, 91, 0.4);
  border-radius: 10px;
  padding: 1vh;
  color: #F8F8F8;
}

.tittle {
  color: #F8F8F8;
  text-align: center;
  position: relative;
  padding-top: 3vh;
}
.tittle::after {
  content: "";
  position: absolute;
  bottom: -1vh;
  left: 0;
  width: 50%;
  height: 2px;
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  transform: translateX(50%);
}

.mainInicio {
  background-color: #1E2225;
  height: 100vh;
  color: white;
  font-weight: bold;
}

.mainInicio__barraLateral {
  text-align: center;
  background-color: rgba(85, 89, 91, 0.4);
  width: 10vh;
  height: 99vh;
  border-radius: 10px;
}

.menuLateral .menuLateral__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menuLateral .menuLateral__profile > img.profile__photo {
  object-fit: contain;
  width: 100%;
  padding-bottom: 0.5rem;
}
.menuLateral .menuLateral__profile p {
  font-size: large;
  font-weight: 500;
}
.menuLateral .menuLateral__logo img {
  object-fit: contain;
  width: 40%;
  margin-top: 0.5rem;
}
.menuLateral .menuLateral__enlaces ul {
  list-style: none;
  padding: 0;
}
.menuLateral .menuLateral__enlaces ul li {
  text-align: center;
  padding: 30% 0;
  font-size: x-large;
}
.menuLateral .menuLateral__enlaces ul a {
  font-size: larger;
  border-radius: 100%;
  padding: 1rem;
  text-decoration: none;
  color: #e65522;
  transition: background 0.2s linear;
}
.menuLateral .menuLateral__enlaces ul a:hover {
  background-color: #1E2225;
}
.menuLateral .menuLateral__enlaces ul .selected {
  transition: color 0.2s linear;
  background-color: #1E2225;
}
.menuLateral .menuLateral__enlaces ul .selected:hover {
  color: #F8F8F8;
}

.mainIncidencias {
  color: #F8F8F8;
}
.mainIncidencias .mainIncidencias__contenedor {
  width: 94vw;
}
.mainIncidencias .mainIncidencias__formulario {
  display: flex;
  flex-direction: column;
  background-color: rgba(85, 89, 91, 0.4);
  border-radius: 15px;
  width: 80%;
}
.mainIncidencias .mainIncidencias__formulario h4 {
  border-radius: 15px 0 0 15px;
  text-transform: uppercase;
  align-self: flex-end;
  margin: 1.5rem 0;
  padding: 1rem;
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  font-weight: bold;
  width: 50%;
}
.mainIncidencias .mainIncidencias__formulario > div {
  font-weight: bold;
  width: 90%;
  margin: 0 auto;
}
.mainIncidencias .mainIncidencias__formulario .formulario__input {
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}
.mainIncidencias .mainIncidencias__formulario .formulario__input input, .mainIncidencias .mainIncidencias__formulario .formulario__input textarea, .mainIncidencias .mainIncidencias__formulario .formulario__input select {
  border-radius: 15px;
  border: 0px;
  padding: 0.5rem;
  color: #F8F8F8;
  background-color: #1E2225;
}
.mainIncidencias .mainIncidencias__formulario .formulario__inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainIncidencias .formulario__acciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}
.mainIncidencias .formulario__acciones img {
  width: 40%;
}
.mainIncidencias .formulario__acciones > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.mainIncidencias .formulario__acciones > div input {
  margin-top: 1.2rem;
  padding: 0.5rem;
  font-size: x-large;
  font-weight: bold;
  color: #F8F8F8;
  border: 0px;
  border-radius: 15px;
  width: 80%;
}
.mainIncidencias .formulario__acciones > div #submit {
  background-color: #30a846 !important;
}
.mainIncidencias .formulario__acciones > div #reset {
  background-color: #c93333 !important;
}

/*# sourceMappingURL=main.css.map */
