* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}

.containerPrincipal {
  height: 100vh;
  background-color: #1E2225;
  color: white;
  display: flex;
  gap: 1%;
  padding: 1%;
}
.containerPrincipal .menuLateral {
  width: 7%;
  min-width: 70px;
}
.containerPrincipal .contenedor {
  width: 93%;
  display: flex;
  flex-direction: column;
}

.box {
  background-color: rgba(85, 89, 91, 0.4);
  border-radius: 10px;
  padding: 1vh;
}

.tittle {
  font-size: 50px;
  color: #F8F8F8;
  text-align: center;
  position: relative;
  padding-top: 3vh;
}
.tittle::after {
  content: "";
  position: absolute;
  bottom: -1vh;
  left: 0;
  width: 50%;
  height: 2px;
  background-image: linear-gradient(51deg, #ee3040 50%, #e4212e 65%, #e65522 100%);
  transform: translateX(50%);
}

.mainInicio__modulos {
  text-align: center;
  display: grid;
}
.mainInicio__modulos .modulos__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 1%;
  grid-row-gap: 2%;
}
.mainInicio__modulos .modulos__grid .grid_mod1 {
  grid-area: 1/1/4/5;
}
.mainInicio__modulos .modulos__grid .grid_mod2 {
  grid-area: 1/5/5/7;
}
.mainInicio__modulos .modulos__grid .grid_mod3 {
  grid-area: 4/1/7/3;
}
.mainInicio__modulos .modulos__grid .grid_mod4 {
  grid-area: 4/3/7/5;
}
.mainInicio__modulos .modulos__grid .grid_mod5 {
  grid-area: 5/5/7/7;
}

.menuLateral .menuLateral__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menuLateral .menuLateral__profile > img.profile__photo {
  object-fit: contain;
  width: 80%;
  padding: 0.3rem 0;
}
.menuLateral .menuLateral__profile p {
  font-weight: 500;
}
.menuLateral .menuLateral__logo img {
  object-fit: contain;
  width: 40%;
  margin-top: 0.5rem;
}
.menuLateral .menuLateral__enlaces ul {
  list-style: none;
  padding: 0;
}
.menuLateral .menuLateral__enlaces ul li {
  text-align: center;
  padding: 30% 0;
}
.menuLateral .menuLateral__enlaces ul a {
  font-size: larger;
  border-radius: 100%;
  padding: 1rem;
  text-decoration: none;
  color: #e65522;
  transition: background 0.2s linear;
}
.menuLateral .menuLateral__enlaces ul a:hover {
  background-color: #1E2225;
}
.menuLateral .menuLateral__enlaces ul .selected {
  transition: color 0.2s linear;
  background-color: #1E2225;
}
.menuLateral .menuLateral__enlaces ul .selected:hover {
  color: #F8F8F8;
}

.mainIncidencias .mainIncidencias__formulario .formulario__input {
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}
.mainIncidencias .mainIncidencias__formulario .formulario__input input, .mainIncidencias .mainIncidencias__formulario .formulario__input textarea, .mainIncidencias .mainIncidencias__formulario .formulario__input select {
  border-radius: 15px;
  border: 0px;
  padding: 0.5rem;
  color: #F8F8F8;
  background-color: #1E2225;
}
.mainIncidencias .mainIncidencias__formulario .formulario__inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainIncidencias .formulario__acciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mainIncidencias .formulario__acciones figure img {
  width: 15%;
}
.mainIncidencias .formulario__acciones figure p {
  height: fit-content;
  margin: 0;
  padding: 0;
  line-height: normal;
  font-size: 130%;
}
.mainIncidencias .formulario__acciones > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.mainIncidencias .formulario__acciones > div input {
  margin-top: 1.2rem;
  padding: 0.5rem;
  font-size: x-large;
  font-weight: bold;
  color: #F8F8F8;
  border: 0px;
  border-radius: 15px;
  width: 80%;
}
.mainIncidencias .formulario__acciones > div #submit {
  background-color: #30a846 !important;
}
.mainIncidencias .formulario__acciones > div #reset {
  background-color: #c93333 !important;
}

/*# sourceMappingURL=main.css.map */
