{% extends '../global/cdns.html' %}
{% load static %}

{% block title %}Trabajadores - ILIBERP Solutions{% endblock %}

{% block content %}
    {% include 'global/submenu.html' %}

    <section class="box d-flex flex-column contenedor">
        <h2 class='tittle' id="titulo">Articulos</h2>

        <div class="mx-auto overflow-hidden w-75 px-2">
            <div class="d-flex justify-content-end">
                
                <a href="" class="button d-flex align-items-center gap-2 mt-5 text-decoration-none">
                    <i class="fa-solid fa-circle-plus" style="color: #f8f8f8;"></i>
                    <p class="m-0">Nuevo Artículo</p>
                </a>
            </div>            
            
            <div class="overflow-y-auto barScroll h-75">
                <table class="table table-dark table-striped tabla">
                    <thead class="fs-5 text-uppercase sticky-top">
                        <tr>
                            <th class="p-3">ID</th>
                            <th class="p-3">Nombre</th>
                            <th class="p-3">Tipo</th>
                            <th class="p-3 text-center">Destacado</th>
                            <th class="p-3 text-end">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr class="tabla__linea" onclick="window.location.href = '/detalleArticulo-{{ product.id }}';">
                                <td>{{product.id}}</td>
                                <td>{{product.nombre}}</td>
                                <td>{{product.tipo}}</td>
                                <td class="text-center">{% if product.destacado == True %} <i class="fa-solid fa-circle-check" style="color: #63E6BE;"></i> {% else %} <i class="fa-solid fa-circle-xmark" style="color: #e66565;"></i> {% endif %}</td>
                                <td class="text-end">{{product.precio}} €</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}