{% extends '../global/cdns.html' %}
{% load static %}

{% block title %}Trabajadores - ILIBERP Solutions{% endblock %}

{% block content %}
    {% include 'global/submenu.html' %}

    <section class="box d-flex flex-column contenedor">
        <h2 class='tittle' id="titulo">Inventario</h2>

        <div class="inventario__buttons d-flex align-items-center justify-content-center h-75 gap-5">
            <a href="/pedidos" type="button" class="btn button--bg" >
                <i class="fa-solid fa-cubes"></i>
                <p>Pedidos</p>
            </a>
            <a href="/articulos" type="button" class="btn button--bg">
                <i class="fa-solid fa-warehouse"></i>
                <p>Articulos</p>
            </a>

        </div>
    </section>
{% endblock %}