{% extends '../global/cdns.html' %}
{% load static %}

{% block title %}Incidencia{% endblock %}

{% block content %}
<!-- Menu lateral -->
{% include 'global/submenu.html' %} 
<section class="sectionPedidoNuevo main box d-flex contenedor">
    <div id="alertas"></div>
    <div class="mx-auto w-75 my-5 h-50"> 
        <h2 class='tittleDetalle'>Añadiendo Nuevo Pedido</h2>
        <div class="d-flex justify-content-end mt-3 gap-2">
            <a href="javascript:history.back()" class="buttonReverse buttonVolver">
                <i class="fa-solid fa-circle-arrow-left" style="color: #e65522;"></i>
                Volver
            </a>
        </div>
        
        <div class="box formularioCrud px-4 pt-4 pb-2 d-flex flex-column" id="formularioCrud">
            <form action="{% url 'guardarPedido' %}" method="post">
                {% csrf_token %}

                <div class="row gy-4">
                    <div class="col-12 col-lg-3">
                        <h6 class="fw-bold">Fecha</h6>
                        <input type="date" class="input form-control bg-dark barScroll text-light fs-5" id="fecha" name="fecha">

                        <h6 class="fw-bold mt-5">Cliente</h6>
                        <select class="input form-select bg-dark barScroll text-light fs-5" name="cliente" id="cliente">
                            <option value="-" selected style="display: none;"> - Seleccionar -</option>

                            {% for cliente in clientes %}
                                <option value="{{cliente.id}}">{{cliente.user.username}}</option>
                            {% endfor %}
                        </select>


                        <h6 class="fw-bold mt-5">Direccion</h6>
                        <input type="text" class="input form-control bg-dark barScroll text-light fs-5" id="direccion" name="direccion">

                        <h6 class="fw-bold mt-5">Estado</h6>
                        <select class="input form-select bg-dark barScroll text-light fs-5" name="estado" id="estado">
                            <option value="-" selected style="display: none;"> - Seleccionar -</option>
                            
                            {% for estado_value, estado_text in estados %}
                                <option value="{{estado_value}}">{{estado_text}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-lg-9">
                        <h6 class="formularioCrud__productos col-12 col-lg-9 fw-bold">Productos</h6>
                        <div class="d-flex mb-2">
                            <select class="input form-select bg-dark barScroll text-light fs-5" name="producto" id="producto">
                                <option value="-" selected style="display: none;"> - Seleccionar -</option>
    
                                {% for articulo in articulos %}
                                    <option value="{{articulo.id}}">{{articulo.nombre}}</option>
                                {% endfor %}
                            </select>

                            <input type="number" class="w-25 input form-control bg-dark barScroll text-light fs-5" name="unidades" id="unidades">
                            
                            <button class="btn btn-success">Añadir</button>
                        </div>
                        <div class="h-50 overflow-y-scroll">
                            <div class="d-flex align-items-center justify-content-between bg-dark text-light border-bottom border-1 border-danger">
                                <p class="w-75 py-2 px-4 fs-4"></p>
                                <p class="w-25 text-end py-2 px-4 fs-4"></p>
                            </div>
                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-between text-light">
                            <p class="w-100 py-2 px-4 fs-4 text-end">Subtotal: {{order.subtotal}} €</p>
                            <p class="w-100 py-2 px-4 fs-4 text-end">IVA: {{order.IVA}} €</p>
                            <p class="w-100 py-2 px-4 fs-4 text-end">Total: {{order.total}} €</p>
                        </div>
                    </div>
                    <div class="formulario__buttons mt-3 d-flex justify-content-end d-none">
                        <button type="submit" class="btn button--bg d-flex justify-content-between align-items-center">
                            <i class="fa-solid fa-save"></i>
                            <p class="p-0 m-0">Guardar</p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{% static 'js/detailArticle.js' %}"></script>
{% endblock %}